<a href="https://colab.research.google.com/github/Femi-Agbeja/ds_tutorial/blob/main/DS_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
# Rounding a float to integer(Whole number)

print(round(4.5567))

5

In [ ]:
# Reducing the decimal points of a float

print(round(4.558943,2))

4.56

In [ ]:
# using divmods to output quotients and remainders

G = divmod(34,9)

In [ ]:
print(type(G))

<class 'tuple'>

In [ ]:
print(G)

(3, 7)

In [ ]:
# outputing the first numeber in G using index

G[0]

3

In [ ]:
isinstance(4,(float))

False

In [ ]:
isinstance(4.3,(float))

True

In [ ]:
isinstance('femi',(float, int, str))

True

In [ ]:
# pow takes 2 raise to the power of 4, then divides the answer by the thrid and output the remainder
pow(2,4,6)

4

In [ ]:
# inputs - allowing users to put in a value

x = input("Please Enter a number :")

Please Enter a number :50

In [ ]:
print(x)

50

In [ ]:
print(type(x))

<class 'str'>

In [ ]:
# converting the value of X to an integer

x = int(x)

In [ ]:
# checking the new data type of x
print(type(x))

<class 'int'>

In [ ]:
print(x - 40)

10

In [ ]:
# Automatically changing the input data type form string to float

a = float(input("Please Enter a Number :"))

Please Enter a Number :50

In [ ]:
print(a)

50.0

In [ ]:
b = float(input("Please Enter a Number :"))

Please Enter a Number :ba

ValueError: ignored

In [ ]:
# to quickly understand a partular function, do the below
isinstance?